@inject NavigationManager Nav
<MudPaper Class="d-flex flex-wrap justify-center  gap-4 ma-12" Elevation="0">
    <MudGrid Justify="Justify.Center">
        
    @foreach (var item in ListOfTopic)
    {
        @* <div class="card cardHover" @onclick="()=>PageToNavigate(item.PageUrl)">
            <div class="card-img" style="@($"background-image: url({item.ImageUrl});")"></div>
              <div class="card-info">
                <p class="text-title"><u><b>@item.Name</b></u></p>
                <p class="text-body"> 
                        @item.Description </p>
              </div> 
        </div> *@
            <MudItem xs="12" sm="6" md="4" xl="3" xxl="2" Class="card-img">
                <MudCard>
                    <MudCardMedia Image="@item.ImageUrl" />
                    <MudCardContent>
                        <MudPaper Width="300" Elevation="0">
                            <MudText Typo="Typo.h5">@item.Name</MudText>
                            <MudText Typo="Typo.body2" Style="width:300px">@item.Description </MudText>
                        </MudPaper>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Outlined"
                                   FullWidth="true"
                                   Color="Color.Secondary"
                                   OnClick="()=>PageToNavigate(item.PageUrl)">@item.Name</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem> 
    }
    </MudGrid>
</MudPaper>

@code {
    [Parameter]
    public List<Topic> ListOfTopic { get; set; } = new();

    void PageToNavigate(string TargetPage)
    {
        Nav.NavigateTo(TargetPage);
    }
}
<style>
    .cardHover {
        cursor: pointer;
    }
     
    /*Hover*/
    .card-img:hover {
        /* transform: translateY(-10%) ; */ 
        transition: margin-right 2s;
        box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
    }

    .card-button:hover {
        border: 1px solid #ffcaa6;
        background-color: #ffcaa6;
    }

</style>